<h1>We received yout inquiry!</h1>

<p>Your name: <%= @contact.name =%></p>
<p>Your e-mail address: <%= @contact.mail =%></p>
<p>Category: <%= @contact.category =%></p>
<p>Content: <%= @contact.content =%></p>
